{% extends '../base/main_user_base.html' %}



<!-- page heading start-->
    {% block page_heading %}
            <div class="page-heading">
                <h3>
                    编辑个人信息
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="active"> My Dashboard </li>
                </ul>
            </div>
    {% end %}
<!-- page heading end-->


<!--body wrapper start-->
    {% block body_wrapper %}
            <div class="wrapper">
        <form class= "login" method="post" action="/account/user_edit">
                {% module xsrf_form_html() %}
                <p>用户名:<input type="text" value="{{ current_user.name }}" name="name"></p>
                <p>邮箱:{{ current_user.email }}<a href="/account/send_user_email">绑定邮箱</a></p>
                <p>密码:<input type="text"  name="password"></p>
                <p>首次登录时间：{{ current_user.createtime }}</p>
                <p>账户更新时间：{{ current_user.update_time }}</p>
                <input type="submit">
        </form>
        <img style="height: 100px;width:150px;" src="/static/images/useravatars/{{ current_user.avatar }}"><br/>
        <form method="post" action="/account/avatar" enctype="multipart/form-data">
                {% module xsrf_form_html() %}
                <input type="file" name="user_avatar" />
                <input type="submit" value="上传头像" />
        </form>
        </div>
    {% end %}
<!--body wrapper end-->