<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <!-- alert插件的样式文件 -->
    <link href="/static/common/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body>
 <!-- alert插件的js文件 -->
 <div id="sharing_links" data-id="{{fileslinks}}" data-password="{{password}}"></div>
 <script src="/static/common/js/jquery-1.10.2.min.js"></script>
<script src="/static/common/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/files/file_create_sharing_links.js"></script>
</body>
</html>




