<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <!-- alert插件的样式文件 -->
    <link href="/static/common/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body>
 <!-- alert插件的js文件 -->
  <div id="sharing_username_uuid"
       data-id="{{username}}" data-uuid="{{uuid1}}" data-msg="{{msg}}"></div>
 <script src="/static/common/js/jquery-1.10.2.min.js"></script>
<script src="/static/common/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/files/file_auth_sharing_links.js"></script>
</body>
</html>




