{% extends '../base/main_user_base.html' %}

{% block head %}
    <!-- simditor引入文件 -->
	<link rel="stylesheet" href="/static/common/simditor/styles/simditor.css">
    <script src="/static/common/js/jquery-1.10.2.min.js"></script>
	<script src="/static/common/simditor/scripts/module.min.js"></script>
	<script src="/static/common/simditor/scripts/hotkeys.min.js"></script>
	<script src="/static/common/simditor/scripts/uploader.min.js"></script>
	<script src="/static/common/simditor/scripts/simditor.min.js"></script>

    <!-- alert插件的样式文件 -->
    <link href="/static/common/sweetalert/sweetalert.css" rel="stylesheet">

{% end %}


{% block page_heading %}
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                文档上传 <small>Subtext for header</small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Extra Pages</a>
                </li>
                <li class="active">文档上传 </li>
            </ul>
        </div>
        <!-- page heading end-->
{% end %}


{% block body_wrapper %}
    <div class="wrapper">
    	<div class="content-box">
            <div class="container">
                {% module xsrf_form_html() %}
                <form action="" class="form">
                    <!-- 标题栏 -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" >标题</span>
                            <input type="text" class="form-control" placeholder="标题" id='title-input' value="" data-article-id="">
                            <span class="input-group-addon btn btn-danger" id='submit-article-btn'>提交文章</span>
                        </div>
                    </div>
                    <!-- 标题栏结束 -->

                    <!-- 分类栏 -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">分类</span>
                            <select name="" id="category-select" class="form-control">
                                {% for category in categorys %}
								    <option value="{{category.id}}" selected="selected">{{category.name}}</option>
							    {% end %}
                            </select>
                        </div>
                    </div>
                    <!-- 分类栏结束 -->

                    <!-- 摘要栏 -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">摘要</span>
                            <input type="text" class="form-control" placeholder="摘要" id="desc-input" value="">
                        </div>
                    </div>
                    <!-- 摘要栏结束 -->

                    <!-- 标签栏 -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">标签</span>
                            <div class="form-control" id='tag-box'>
                                {% for tag in tags %}
                                    <label for="" class="checkbox-inline">
                                        <input type="checkbox" value="{{tag.id}}" class="tag-checkbox" >
                                           {{tag.name}}
                                    </label>
                                {% end %}
                            </div>
                        </div>
                    </div>
                    <!-- 标签栏结束 -->


                    <!-- simditor编辑器的输入栏 -->
                    <div class="form-group">
                        {# textarea与simditor匹配 #}
                        <textarea id="simditor" placeholder="正文..."></textarea>
                    </div>
                    <!-- simditor编辑器的输入栏结束 -->



                     <!-- 上传图片 -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">图片</span>
                            <input type="text" class="form-control" placeholder="缩略图地址" id='thumbnail-input' value="">
                        </div>
                    </div>

                    <!-- 上传图片栏 -->


                    <!-- 上传图片栏 -->
                    <div class="row">
                        <div class="col-sm-12">
                          <section class="panel">
                                <header class="panel-heading">
                                    <form method="post" action="/add_article_img" enctype="multipart/form-data">
                                        <input id="input_files_id"  type="file"  accept="image/gif, image/jpeg" multiple="multiple"  name="myfilename"/><br>
                                        <button  id="upload_btn" type="button" class="btn btn-primary btn-sm btn-group"><i class="fa fa-upload"></i> 上传文件</button>
                                    </form>
                                </header>
                                <div class="panel-body">
                                    <div id="gallery" class="media-gal">
                                         <div class='show' id="show"></div>
                                    </div>
                                </div>
                                 <div class='show_path' id="show_path"></div>
                            </section>
                        </div>
                    </div>
                    <!-- 上传图片栏结束 -->
                </form>
            </div>
	    </div>
    </div>
{% end %}


{% block end %}
        <!-- alert插件的js文件 -->
        <script src="/static/common/sweetalert/sweetalert.min.js"></script>
        <script src="/static/js/article/add_article.js"></script>

{% end %}